<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/players/register" method="post">
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" name="firstName" placeholder="Sam"><br><br>
        <label for="lastName">Last name:</label>
        <input type="text" id="lastName" name="lastName" placeholder="Jones"><br><br>
        <label for="nationality">Nationality:</label>
        <input type="text" id="nationality" name="nationality" placeholder="Wales"><br><br>
        <label for="dob">Date of birth:</label>
        <input type="date" id="dob" name="dob"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>