<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Match</title>
</head>
<body>
    <form action="/matches/update" method="post">
        <label for="winner">Match Winner first & last name:</label>
        <input placeholer="Susan Adams" type="text" id="winner" name="winner"><br><br>
        <label for="loser">Match Loser first & last name:</label>
        <input placeholer="Roy Smith" type="text" id="loser" name="loser"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>