<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Match</title>
</head>
<body>
    <form action="/matches/update" method="post">
        <label for="winnerFirstName">Match Winner first & last name:</label>
        <input placeholder="Susan" type="text" id="winnerFirstName" name="winnerFirstName"><input placeholder="Adams" type="text" id="winnerLastName" name="winnerLastName"><br><br>
        <label for="loserFirstName">Match Loser first & last name:</label>
        <input placeholder="Roy" type="text" id="loserFirstName" name="loserFirstName"><input placeholder="Smith" type="text" id="loserLastName" name="loserLastName"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>